@using Application.Modules.R2Y.Models
@using Application.Provider
@inherits CounterHandler
@inject AppAuthStateProvider AuthenticationStateProvider

@page "/op/counter"

@* @attribute [Authorize(Roles = "MEM")] *@
@attribute [Authorize]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>


@if (_user != null)
{
    <p>Welcome, @_user.Email</p>
    <p>Pais, @_user.Pais</p>
    <p>Moeda, @_user.Moeda</p>
}

<p role="status">Current count: @CurrentCount</p>
<p role="status">AppState Current count: @AppState.Counter</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code
{
    private AuthUserClaims? _user;

    protected override async Task OnInitializedAsync()
    {
        _user = await AuthenticationStateProvider.GetUserInfo();
    }
}